@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>MoviesLab</h1>
    <p class="lead">Все фильмы в одном месте.</p>
    <p><a href="/Movie/List" class="btn btn-primary btn-large">Список фильмов &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Последние добавленные фильмы</h2>
        <hr />
        @for (int i = 0; i < 3; i++)
        {
            <div>
                <h4><a href="/Movie?MovieId=@(ViewBag.Movies[i].MovieId)">@(ViewBag.Movies[i].TitleWithYear)</a></h4>
                @if (ViewBag.Movies[i].Duration != null)
                {
                    <p><b>Длительность:</b> @(ViewBag.Movies[i].Duration) мин.</p>
                }

                @if (ViewBag.Movies[i].Genres != String.Empty)
                {
                    <p><b>Жанры:</b> @ViewBag.Movies[i].Genres</p>
                }

                @if (ViewBag.Movies[i].Countries != String.Empty)
                {
                    <p><b>Страны:</b> @ViewBag.Movies[i].Countries</p>
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Последние добавленные персоны</h2>
        <hr />
        @for (int i = 0; i < 3; i++)
        {
            <div>
                <h4><a href="/Person?PersonId=@(ViewBag.People[i].PersonId)">@(ViewBag.People[i].Fullname)</a></h4>
                @if (ViewBag.People[i].Birthday != null)
                {
                    <p><b>Дата рождения:</b> @(ViewBag.People[i].Birthday.ToString("dd.MM.yyyy"))</p>
                }
                @if (ViewBag.People[i].Country != null)
                {
                    <p><b>Страна:</b> @(ViewBag.People[i].Country.Name)</p>
                }
            </div>
        }
    </div>
</div>