@model MoviesLab.Models.Actor

@{
    ViewBag.Title = ViewBag.Person.Fullname + ": " + "добавление роли";
}

<h1>@ViewBag.Title</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MovieId, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.MovieId, ViewBag.Movies as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MovieId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Character, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Character, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Character)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Добавить роль" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Person?PersonId=@ViewBag.Person.PersonId">Вернуться к персоне</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
