@{
    ViewBag.Title = "Список удаленных персон";
}

@model PagedList.IPagedList<MoviesLab.Models.Person>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />

<h3 class="text-info">@ViewBag.StatusMessage</h3>

<h1>@ViewBag.Title</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Имя Отчество Фамилия</th>
                    <th>Год рождения</th>
                    <th>Место рождения</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Fullname</td>
                        <td>
                            @if (person.Birthday != null)
                            {
                                person.Birthday.Value.ToString("dd.MM.yyyy");
                            }
                        </td>
                        <td>
                            @if (person.Country != null)
                            {
                                person.Country.Name.ToString();
                            }
                        </td>
                        <td><a href="/Person/Restore?PersonId=@person.PersonId" class="btn btn-success btn-xs">Восстановить</a>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a href="/Person/List">Вернуться к списку доступных персон</a>
    </div>
    <div class="col-md-12">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    </div>
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

