@{
    ViewBag.Title = "Список фильмов";
}

@model PagedList.IPagedList<MoviesLab.Models.Movie>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />

@using (Ajax.BeginForm("MovieSearch", new AjaxOptions { UpdateTargetId = "searchresult" }))
{
    <div class="form-group col-md-4 col-md-offset-8">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Поиск фильмов">
            <span class="input-group-btn">
                <input type="submit" value="Найти" class="btn btn-primary" />
            </span>
        </div>
    </div>
}

<h1>@ViewBag.Title</h1>


<a href="/Movie/Add" class="btn btn-success btn-xs">Добавить фильм</a>

<hr />

<div class="row" id="searchresult">

    @foreach (var m in Model)
    {
        <div class="col-md-8">
            <h3><a href="/Movie?MovieId=@Html.DisplayFor(model => m.MovieId)">@Html.DisplayFor(model => m.TitleWithYear)</a></h3>
            @if (m.Duration != null)
            {
                <p><b>Длительность:</b> @Html.DisplayFor(model => m.Duration) мин.</p>
            }

            @if (m.Genres != String.Empty)
            {
                <p><b>Жанры:</b> @m.Genres</p>
            }

            @if (m.Countries != String.Empty)
            {
                <p><b>Страны</b>: @m.Countries</p>
            }

            <hr />
        </div>
    }

    <div class="col-md-10">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    </div>

</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")